@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  /* Paleta oficial de SIRAN */
  --siran-blue: #4A7FF0;
  --siran-bg: #F2F2F2;
  --siran-white: #FFFFFF;
  --siran-text: #000000;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--siran-bg); /* Fondo gris claro relajante */
  font-family: 'Poppins', sans-serif;
  color: var(--siran-text);
  -webkit-font-smoothing: antialiased;
}

/* Forzar Poppins en todos los componentes de PrimeVue */
.p-component, .p-inputtext, .p-button, .p-message {
  font-family: 'Poppins', sans-serif !important;
}

/* Redondear bordes para un diseño más amigable */
.border-round-xl {
  border-radius: 1rem !important;
}